body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: #99c2ff;
}
.banner-column{
    background-color:#6b6b47;
    border: 2px solid black;
    border-style:dashed;
}
h1{
    font-weight:bolder;
}
.about-container{
    background-color: #100C25;
    color:wheat;
}
.education-container{
    background-color:royalblue;
}
.redheader{
    color:maroon;
    text-align:center;
    padding:20px;
    font-weight: bolder;
}
.circle{
    background-color: mediumpurple;
    width:150px;
    height:150px;
    border-radius: 50%;
}
